[Desktop Entry]
Encoding=UTF-8
Terminal=false
Type=Application
Categories=Application;System;
Exec=/etc/init.d/winadmin view
Name=Windows Console
Comment=Shows Windows Console
Icon=/usr/share/icons/Bluecurve/48x48/apps/display-capplet.png
