[Desktop Entry]
Encoding=UTF-8
Terminal=false
Type=Application
Categories=Application;System;
Exec=/usr/bin/gksu --disable-grab --title "User Manager" /usr/local/bin/userman.pl
Name=User Manager (root)
Comment=Manage LDAP Users and Groups
Icon=/usr/local/bin/images/userman.png
