[Desktop Entry]
Encoding=UTF-8
Terminal=false
Type=Application
Categories=System;Settings;
Exec=/usr/bin/gksu --disable-grab --title "User Manager" /usr/bin/userman
Name=User Manager
Name[ru]=Менеджер пользователей
Comment=Manage LDAP Users and Groups
Comment[ru]=Управление пользователями и группами в домене LDAP
Icon=/usr/share/userman/images/userman.png
